<div class="app">
  <app-nav-bar
    class="navbar"
    [title]="title"
    (sidebarToggle)="sidenav?.toggle()"
  ></app-nav-bar>

  <mat-sidenav-container class="sidebar" color="primary">
    <mat-sidenav
      [opened]="isAuthenticated"
      mode="side"
      class="sidenav"
      #sidenav
    >
      <mat-accordion multi="true" style="padding: 0">
        <mat-expansion-panel class="expansion-panel" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>ЗАХОПЛЕННЯ</mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/inbox"
          >
            <mat-icon class="sidebar-icon">inbox</mat-icon>
            Вхідні
          </a>
          <a mat-button class="sidenav-item" routerLinkActive="sidenav-item-active" routerLink="list/habits">
            <mat-icon class="sidebar-icon">calendar_today</mat-icon>
            Звички
          </a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel class="expansion-panel" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>ДІЇ</mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/next"
          >
            <mat-icon class="sidebar-icon">access_time</mat-icon>
            Наступні
          </a>
          <br />
          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/someday"
          >
            <mat-icon class="sidebar-icon">settings_brightness</mat-icon>
            Колись
          </a>
          <mat-divider></mat-divider>
          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/focus"
          >
            <mat-icon class="sidebar-icon">star_border</mat-icon>
            Фокус
          </a>
          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/done"
          >
            <mat-icon class="sidebar-icon">done</mat-icon>
            Виконані
          </a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel class="expansion-panel" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>КАТЕГОРІЇ</mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="project"
          >
            <mat-icon class="sidebar-icon">folder</mat-icon>
            Категорії
          </a>

          <mat-divider></mat-divider>

          <a
            mat-button
            *ngFor="let project of projects"
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            [routerLink]="'list/project/' + project.id"
          >
            <mat-icon class="sidebar-icon">folder</mat-icon>
            {{ project.name }}
          </a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel class="expansion-panel" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>ТЕГИ</mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="tags/labels"
          >
            <mat-icon class="sidebar-icon">label</mat-icon>
            Мітки
          </a>
          <br />
          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="tags/contacts"
          >
            <mat-icon class="sidebar-icon">perm_contact_calendar</mat-icon>
            Контакти
          </a>
          <br />
          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="tags/areas"
          >
            <mat-icon class="sidebar-icon">home</mat-icon>
            Області
          </a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel class="expansion-panel" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>ОЧИЩЕННЯ</mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-button
            class="sidenav-item"
            routerLinkActive="sidenav-item-active"
            routerLink="list/trash"
          >
            <mat-icon class="sidebar-icon">delete_outline</mat-icon>
            Кошик
          </a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-loader></app-loader>
